<% content_for :messages do %>
  <div class="columns is-centered mt-5">
    <div class="column is-8-desktop is-12-mobile">
      <% @users.each do |user| %>
        <div class="box">
          <%= link_to user, class:"has-text-dark" do %>
            <div class="columns">
              <div class="column has-text-left is-12 is-8-mobile">
                <span><span class="is-size-3"><%= user.name.capitalize %></span> <i class="is-size-6">(click to send and see messages)</i></span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
